body{
  background-image: linear-gradient(to right, #420b5c, #ce0bf5);
  color: whitesmoke;
}

div p  {
  font-size: 20px;
}

.container {
  text-transform: uppercase;
  text-align: center;
}

.habit-names p {
  text-align: center;
}

.col-sm h1 {
  font-size: 30px;
  background-color: #2e007e;
}

.cat-pet-calendar {
  padding-top: 5%;
}