body{
    background-image: linear-gradient(to right, #420b5c, #ce0bf5);
    color: whitesmoke;
}

.profile-page{
    text-align: center;
}
.dog-gif {
    width: 30%;
}

.cat-pet {
    width: 80%
}

.cat-pet-habit {
    float:left; 
    width:25%;
}

.cat-pet-calendar {
    width: 80%;
}

.cat-pet-habit-view {
    width: 50%;
}