body{
    background-image: linear-gradient(to right, #25085E, #3215C1);
    color: whitesmoke;
}

.navbar-custom { 
    background-color: lightgreen; 
} 

.profile-page{
    text-align: center;
}
.dog-gif {
    width: 30%;
}