body{
    background-image: linear-gradient(to right, #420b5c, #ce0bf5);
    color: whitesmoke;
}

.profile-page{
    text-align: center;
}

.cat-pet {
    width: 80%
}

.cat-pet-habit {
    float:left; 
    width:25%;
}

.cat-pet-calendar {
    width: 80%;
}

.cat-pet-habit-view {
    width: 50%;
}

#habit-title {
  margin-top: 30px;
}

.profile-page {
    padding-top: 5%;
}

#create-habit-button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight: bold;
    color:#2e007e;
    text-align:center;
    transition: all 0.2s;
}

a {
    color:#2e007e;
}

#create-habit-button:hover{
    color:#000000;
    background-color:#FFFFFF;
    }

@media all and (max-width:30em){
    #create-habit-button{
    display:block;
    margin:0.4em auto;
    }
}

h6 {
    color: #ffc691;
}